In [11]:
"""
TikTok DB uploading code
https://docs.microsoft.com/en-us/sql/machine-learning/data-exploration/python-dataframe-sql-server?view=sql-server-ver15#:~:text=Connect%20to%20SQL%20to%20load%20dataframe%20into%20the,was%20successfully%20loaded%20with%20data%20from%20the%20dataframe.



CREATE TABLE TIKTOK(
    BrandHandle VARCHAR(20) NOT NULL,
    PostUrl VARCHAR(100) NOT NULL,
    PostDate DATE NOT NULL,
    PostText VARCHAR (100),
    Likes INT,
    Comments INT,
    Shares INT,
    Views INT
    PRIMARY KEY (PostUrl)
)
"""
import pyodbc
import pandas as pd
import time 
start_time = time.time()
from sqlalchemy import create_engine

# insert data from csv file into dataframe.
# working directory for csv file: type "pwd" in Azure Data Studio or Linux
# working directory in Windows c:\users\username
df = pd.read_csv("target.csv")
# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = 'ls-1ef1825172e62dcc237ee491d09a0c12aff562fe.cn5ycdfnko6g.us-east-1.rds.amazonaws.com:3306' 
database_ = 'smcDB' 
username = 'dbmasteruser' 
password_ = 'q+o.H1sd$CRRZl&CSl>VK}-(~+t1ea&P' 
#cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cnxn = pyodbc.connect(driver='{ODBC Driver 17 for SQL Server}', host=server, database=database_,
                      trusted_connection='yes', user=username, password=password_)
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
for index, row in df.iterrows():
     cursor.execute("INSERT INTO Tiktok (BrandHandle,PostUrl,PostDate,PostText,Likes,Comments,Shares) values(?,?,?,?,?,?,?)", row.BrandHandle, row.PostUrl, row.PostDate,row.PostText,row.Likes,row.Comments,row.Shares)
cnxn.commit()
cursor.close()

SyntaxError: invalid syntax (Temp/ipykernel_13836/2508445185.py, line 24)

CREATE TABLE TIKTOK(
    BrandHandle VARCHAR(20) NOT NULL,
    PostUrl VARCHAR(100) NOT NULL,
    PostDate DATE NOT NULL,
    PostText VARCHAR (100),
    Likes INT,
    Comments INT,
    Shares INT,
    Views INT
    PRIMARY KEY (PostUrl)
)

CREATE TABLE FACEBOOK(
    BrandHandle VARCHAR(20) NOT NULL,
    PostUrl VARCHAR(100) NOT NULL,
    PostDate DATE NOT NULL,
    PostText VARCHAR (100),
    Likes INT,
    Comments INT,
    Shares INT,
    PRIMARY KEY (PostUrl)
);

CREATE TABLE PINTEREST(
    BrandHandle VARCHAR(20) NOT NULL,
    PostUrl VARCHAR(100) NOT NULL,
    PostDate DATE NOT NULL,
    PostText VARCHAR (100),
    Emoticons INT,
    Comments INT,
    Shares INT,
    Pins INT,
    Closeups INT,
    Saves INT,
    PRIMARY KEY (PostUrl)
);

CREATE TABLE YOUTUBE(
    BrandHandle VARCHAR(20) NOT NULL,
    PostUrl VARCHAR(100) NOT NULL,
    PostDate DATE NOT NULL,
    PostText VARCHAR (100),
    Likes INT,
    Comments INT,
    PRIMARY KEY (PostUrl)
);

In [ ]:
CREATE TABLE TWITTER(
    BrandHandle VARCHAR(20) NOT NULL,
    PostUrl VARCHAR(100) NOT NULL,
    PostDate DATE NOT NULL,
    PostText VARCHAR (100),
    Likes INT,
    Comments INT,
    Retweets INT,
    PRIMARY KEY (PostUrl)
);